.hover:hover{
    box-shadow: 4px 4px 1px #1111118e;
    transform: scale(1.01);
}

a{
    text-decoration: none;
    color: #111;
}

h5{
    text-transform: capitalize;
}

h5::after{
    content: '🖊';
    position: absolute;
    right: 12%;
    font-size: 1rem;
    padding: .6rem .7rem;
    border-radius: .5rem;
}

h5:hover::after{
    border: 2px solid #0d6efd;
}